
#card1:checked+#card2:checked~.boxes .selector1,
#card1:checked+#card2:checked~.boxes .selector2,
#card3:checked+#card4:checked~.boxes .selector3,
#card3:checked+#card4:checked~.boxes .selector4,
#card5:checked+#card6:checked~.boxes .selector5,
#card5:checked+#card6:checked~.boxes .selector6,
#card7:checked+#card8:checked~.boxes .selector7,
#card7:checked+#card8:checked~.boxes .selector8,
#card9:checked+#card10:checked~.boxes .selector9,
#card9:checked+#card10:checked~.boxes .selector10,
#card11:checked+#card12:checked~.boxes .selector11,
#card11:checked+#card12:checked~.boxes .selector12,
#card13:checked+#card14:checked~.boxes .selector13,
#card13:checked+#card14:checked~.boxes .selector14,
#card15:checked+#card16:checked~.boxes .selector15,
#card15:checked+#card16:checked~.boxes .selector16 {
  pointer-events: none;
}

/* Card1 */

#card1:checked~#card2:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(3)),
#card1:checked~#card2:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(4)),
#card1:checked~#card2:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(5)),
#card1:checked~#card2:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(6)),
#card1:checked~#card2:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(7)),
#card1:checked~#card2:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(8)),
#card1:checked~#card2:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(9)),
#card1:checked~#card2:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(10)),
#card1:checked~#card2:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(11)),
#card1:checked~#card2:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(12)),
#card1:checked~#card2:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(13)),
#card1:checked~#card2:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(14)),
#card1:checked~#card2:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(15)),
#card1:checked~#card2:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(1)):not(:nth-of-type(16)),

/* card2 */
#card1:not(:checked)~#card2:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(3)),
#card1:not(:checked)~#card2:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(4)),
#card1:not(:checked)~#card2:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(5)),
#card1:not(:checked)~#card2:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(6)),
#card1:not(:checked)~#card2:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(7)),
#card1:not(:checked)~#card2:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(8)),
#card1:not(:checked)~#card2:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(9)),
#card1:not(:checked)~#card2:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(10)),
#card1:not(:checked)~#card2:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(11)),
#card1:not(:checked)~#card2:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(12)),
#card1:not(:checked)~#card2:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(13)),
#card1:not(:checked)~#card2:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(14)),
#card1:not(:checked)~#card2:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(15)),
#card1:not(:checked)~#card2:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(2)):not(:nth-of-type(16)),

/* card3 */
#card1:checked~#card2:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(1)),
#card1:not(:checked)~#card2:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(2)),
#card3:checked~#card4:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(5)),
#card3:checked~#card4:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(6)),
#card3:checked~#card4:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(7)),
#card3:checked~#card4:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(8)),
#card3:checked~#card4:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(9)),
#card3:checked~#card4:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(10)),
#card3:checked~#card4:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(11)),
#card3:checked~#card4:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(12)),
#card3:checked~#card4:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(13)),
#card3:checked~#card4:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(14)),
#card3:checked~#card4:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(15)),
#card3:checked~#card4:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(3)):not(:nth-of-type(16)),

/* card4 */
#card1:checked~#card2:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(1)),
#card1:not(:checked)~#card2:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(2)),
#card3:not(:checked)~#card4:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(5)),
#card3:not(:checked)~#card4:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(6)),
#card3:not(:checked)~#card4:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(7)),
#card3:not(:checked)~#card4:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(8)),
#card3:not(:checked)~#card4:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(9)),
#card3:not(:checked)~#card4:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(10)),
#card3:not(:checked)~#card4:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(11)),
#card3:not(:checked)~#card4:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(12)),
#card3:not(:checked)~#card4:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(13)),
#card3:not(:checked)~#card4:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(14)),
#card3:not(:checked)~#card4:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(15)),
#card3:not(:checked)~#card4:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(4)):not(:nth-of-type(16)),

/* card5 */
#card1:checked~#card2:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(1)),
#card1:not(:checked)~#card2:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(1)),
#card5:checked~#card6:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(3)),
#card5:checked~#card6:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(4)),
#card5:checked~#card6:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(7)),
#card5:checked~#card6:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(8)),
#card5:checked~#card6:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(9)),
#card5:checked~#card6:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(10)),
#card5:checked~#card6:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(11)),
#card5:checked~#card6:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(12)),
#card5:checked~#card6:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(13)),
#card5:checked~#card6:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(14)),
#card5:checked~#card6:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(15)),
#card5:checked~#card6:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(5)):not(:nth-of-type(16)),

/* card6 */
#card5:not(:checked)~#card6:checked~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(1)),
#card5:not(:checked)~#card6:checked~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(2)),
#card5:not(:checked)~#card6:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(3)),
#card5:not(:checked)~#card6:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(4)),
#card5:not(:checked)~#card6:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(7)),
#card5:not(:checked)~#card6:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(8)),
#card5:not(:checked)~#card6:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(9)),
#card5:not(:checked)~#card6:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(10)),
#card5:not(:checked)~#card6:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(11)),
#card5:not(:checked)~#card6:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(12)),
#card5:not(:checked)~#card6:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(13)),
#card5:not(:checked)~#card6:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(14)),
#card5:not(:checked)~#card6:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(15)),
#card5:not(:checked)~#card6:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(6)):not(:nth-of-type(16)),

/* Card 7*/
#card1:checked~#card2:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(1)),
#card1:not(:checked)~#card2:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(2)),
#card7:checked~#card8:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(3)),
#card7:checked~#card8:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(4)),
#card7:checked~#card8:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(5)),
#card7:checked~#card8:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(6)),
#card7:checked~#card8:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(9)),
#card7:checked~#card8:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(10)),
#card7:checked~#card8:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(11)),
#card7:checked~#card8:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(12)),
#card7:checked~#card8:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(13)),
#card7:checked~#card8:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(14)),
#card7:checked~#card8:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(15)),
#card7:checked~#card8:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(7)):not(:nth-of-type(16)),

/* card8 */
#card7:not(:checked)~#card8:checked~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(1)),
#card7:not(:checked)~#card8:checked~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(2)),
#card7:not(:checked)~#card8:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(3)),
#card7:not(:checked)~#card8:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(4)),
#card7:not(:checked)~#card8:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(5)),
#card7:not(:checked)~#card8:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(6)),
#card7:not(:checked)~#card8:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(9)),
#card7:not(:checked)~#card8:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(10)),
#card7:not(:checked)~#card8:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(11)),
#card7:not(:checked)~#card8:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(12)),
#card7:not(:checked)~#card8:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(13)),
#card7:not(:checked)~#card8:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(14)),
#card7:not(:checked)~#card8:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(15)),
#card7:not(:checked)~#card8:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(8)):not(:nth-of-type(16)),

/* card9 */
#card9:checked~#card10:not(:checked)~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(1)),
#card9:checked~#card10:not(:checked)~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(2)),
#card9:checked~#card10:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(3)),
#card9:checked~#card10:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(4)),
#card9:checked~#card10:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(5)),
#card9:checked~#card10:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(6)),
#card9:checked~#card10:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(7)),
#card9:checked~#card10:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(8)),
#card9:checked~#card10:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(11)),
#card9:checked~#card10:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(12)),
#card9:checked~#card10:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(13)),
#card9:checked~#card10:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(14)),
#card9:checked~#card10:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(15)),
#card9:checked~#card10:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(9)):not(:nth-of-type(16)),

/* card10 */
#card9:not(:checked)~#card10:checked~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(1)),
#card9:not(:checked)~#card10:checked~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(2)),
#card9:not(:checked)~#card10:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(3)),
#card9:not(:checked)~#card10:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(4)),
#card9:not(:checked)~#card10:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(5)),
#card9:not(:checked)~#card10:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(6)),
#card9:not(:checked)~#card10:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(7)),
#card9:not(:checked)~#card10:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(8)),
#card9:not(:checked)~#card10:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(11)),
#card9:not(:checked)~#card10:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(12)),
#card9:not(:checked)~#card10:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(13)),
#card9:not(:checked)~#card10:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(14)),
#card9:not(:checked)~#card10:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(15)),
#card9:not(:checked)~#card10:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(10)):not(:nth-of-type(16)),

/* card11 */
#card11:checked~#card12:not(:checked)~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(1)),
#card11:checked~#card12:not(:checked)~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(2)),
#card11:checked~#card12:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(3)),
#card11:checked~#card12:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(4)),
#card11:checked~#card12:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(5)),
#card11:checked~#card12:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(6)),
#card11:checked~#card12:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(7)),
#card11:checked~#card12:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(8)),
#card11:checked~#card12:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(9)),
#card11:checked~#card12:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(10)),
#card11:checked~#card12:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(13)),
#card11:checked~#card12:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(14)),
#card11:checked~#card12:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(15)),
#card11:checked~#card12:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(11)):not(:nth-of-type(16)),

/* card12 */
#card11:not(:checked)~#card12:checked~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(1)),
#card11:not(:checked)~#card12:checked~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(2)),
#card11:not(:checked)~#card12:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(3)),
#card11:not(:checked)~#card12:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(4)),
#card11:not(:checked)~#card12:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(5)),
#card11:not(:checked)~#card12:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(6)),
#card11:not(:checked)~#card12:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(7)),
#card11:not(:checked)~#card12:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(8)),
#card11:not(:checked)~#card12:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(9)),
#card11:not(:checked)~#card12:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(10)),
#card11:not(:checked)~#card12:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(13)),
#card11:not(:checked)~#card12:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(14)),
#card11:not(:checked)~#card12:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(15)),
#card11:not(:checked)~#card12:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(12)):not(:nth-of-type(16)),

/* card13 */
#card13:checked~#card14:not(:checked)~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(1)),
#card13:checked~#card14:not(:checked)~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(2)),
#card13:checked~#card14:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(3)),
#card13:checked~#card14:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(4)),
#card13:checked~#card14:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(5)),
#card13:checked~#card14:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(6)),
#card13:checked~#card14:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(7)),
#card13:checked~#card14:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(8)),
#card13:checked~#card14:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(9)),
#card13:checked~#card14:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(10)),
#card13:checked~#card14:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(11)),
#card13:checked~#card14:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(12)),
#card13:checked~#card14:not(:checked)~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(15)),
#card13:checked~#card14:not(:checked)~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(13)):not(:nth-of-type(16)),

/* card14 */
#card13:not(:checked)~#card14:checked~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(1)),
#card13:not(:checked)~#card14:checked~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(2)),
#card13:not(:checked)~#card14:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(3)),
#card13:not(:checked)~#card14:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(4)),
#card13:not(:checked)~#card14:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(5)),
#card13:not(:checked)~#card14:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(6)),
#card13:not(:checked)~#card14:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(7)),
#card13:not(:checked)~#card14:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(8)),
#card13:not(:checked)~#card14:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(9)),
#card13:not(:checked)~#card14:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(10)),
#card13:not(:checked)~#card14:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(11)),
#card13:not(:checked)~#card14:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(12)),
#card13:not(:checked)~#card14:checked~#card15:checked~#card16:not(:checked)~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(15)),
#card13:not(:checked)~#card14:checked~#card15:not(:checked)~#card16:checked~.boxes label:not(:nth-of-type(14)):not(:nth-of-type(16)),

/* card15 */
#card15:checked~#card16:not(:checked)~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(1)),
#card15:checked~#card16:not(:checked)~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(2)),
#card15:checked~#card16:not(:checked)~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(3)),
#card15:checked~#card16:not(:checked)~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(4)),
#card15:checked~#card16:not(:checked)~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(5)),
#card15:checked~#card16:not(:checked)~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(6)),
#card15:checked~#card16:not(:checked)~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(7)),
#card15:checked~#card16:not(:checked)~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(8)),
#card15:checked~#card16:not(:checked)~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(9)),
#card15:checked~#card16:not(:checked)~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(10)),
#card15:checked~#card16:not(:checked)~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(11)),
#card15:checked~#card16:not(:checked)~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(12)),
#card15:checked~#card16:not(:checked)~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(13)),
#card15:checked~#card16:not(:checked)~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(15)):not(:nth-of-type(14)),

/* card16 */
#card15:not(:checked)~#card16:checked~#card1:checked~#card2:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(1)),
#card15:not(:checked)~#card16:checked~#card1:not(:checked)~#card2:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(2)),
#card15:not(:checked)~#card16:checked~#card3:checked~#card4:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(3)),
#card15:not(:checked)~#card16:checked~#card3:not(:checked)~#card4:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(4)),
#card15:not(:checked)~#card16:checked~#card5:checked~#card6:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(5)),
#card15:not(:checked)~#card16:checked~#card5:not(:checked)~#card6:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(6)),
#card15:not(:checked)~#card16:checked~#card7:checked~#card8:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(7)),
#card15:not(:checked)~#card16:checked~#card7:not(:checked)~#card8:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(8)),
#card15:not(:checked)~#card16:checked~#card9:checked~#card10:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(9)),
#card15:not(:checked)~#card16:checked~#card9:not(:checked)~#card10:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(10)),
#card15:not(:checked)~#card16:checked~#card11:checked~#card12:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(11)),
#card15:not(:checked)~#card16:checked~#card11:not(:checked)~#card12:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(12)),
#card15:not(:checked)~#card16:checked~#card13:checked~#card14:not(:checked)~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(13)),
#card15:not(:checked)~#card16:checked~#card13:not(:checked)~#card14:checked~.boxes label:not(:nth-of-type(16)):not(:nth-of-type(14)){
  pointer-events: none;
}

/* win */
#card1:checked+#card2:checked+#card3:checked+#card4:checked+#card5:checked+#card6:checked+#card7:checked+#card8:checked+#card9:checked+#card10:checked+#card11:checked+#card12:checked+#card13:checked+#card14:checked+#card15:checked+#card16:checked~.boxes label{
  pointer-events: none;
  /* visibility: hidden; */
}